body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h1 {
  font-size: modular-scale(6);
}

h2 {
  font-size: modular-scale(5);
}

h3 {
  font-size: modular-scale(4);
}

h4 {
  font-size: modular-scale(3);
}

h5 {
  font-size: modular-scale(2);
}

h6 {
  font-size: modular-scale(1);
}

#title {
  font-size: modular-scale(7);
  font-weight: $heading-font-weight;
  text-transform: uppercase;
  text-align: center;
}

p {
  margin: $small-spacing 0;
}

a {
  color: $accent-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($accent-color, 25%);
  }
}

i {
  padding-left: $base-text-padding / 2;
  padding-right: $base-text-padding;
}

code, pre {
  font-size: modular-scale(-2);
  font-family: $code-font-family;
  font-weight: $code-font-weight;
}

code {
  color: $code-color;
  background-color: $code-background-color;
  padding: 2px 5px;
  border-radius: $base-border-radius;
}

pre {
  background-color: $tertiary-background-color;
  border: 1px solid $base-border-color;
  padding: $small-spacing;
  border-radius: $base-border-radius;
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

.nav-resource > a {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  font-size: modular-scale(1);
}

.endpoint-route {
  font-size: modular-scale(1);
  .endpoint-verb {
    font-weight: 600;
  }
}

.endpoint-response-content-type {
  font-size: modular-scale(-1);
  color: $medium-gray;
}

.endpoint-params table, .endpoint-responses table, .endpoint-tags li {
  font-size: modular-scale(-1);
}
